

<div class="movies">
    <div class="card-peliculas">
        <img src="../../../../assets/Card.png" alt="">
    </div>
    
    <div class="card-peliculas">
        <img src="../../../../assets/Card.png" alt="">
    </div>
    
    <div class="card-peliculas">
        <img src="../../../../assets/Card.png" alt="">
    </div>
    
    <div class="card-peliculas">
        <img src="../../../../assets/Card.png" alt="">
    </div>
</div>


<div class="movies">
    <div class="card-peliculas">
        <img src="../../../../assets/Card.png" alt="">
    </div>
    
    <div class="card-peliculas">
        <img src="../../../../assets/Card.png" alt="">
    </div>
    
    <div class="card-peliculas">
        <img src="../../../../assets/Card.png" alt="">
    </div>
    
    <div class="card-peliculas">
        <img src="../../../../assets/Card.png" alt="">
    </div>
</div>