header{
    width: 100%;
    height: 70px;
    background-color: #121829;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10%;
}

a{
    color:#A8AEBF;
    text-decoration: none;
    margin-right: 25% ; 
}

a:hover{
    color:#956cd6;
    text-decoration: none;
}

img{
    margin-left: 5%;
}