
<div class="home">
    <p class="tittle">PelisUp!</p>
    <p class="subtittle">plataforma para ver peliculas y series</p>


<div class="container-fluid navbar col-lg-11">
    <form class="d-flex" role="search">
        <input class="form-control me-2 " type="search" placeholder="Buscar series y peliculas" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
    </form>
</div>

<div class="buttom-options">
    <button type="button" class="btn" [ngClass]="{'btn-primary': filter=='todos'}" (click)="setFilter('todos')">Todos</button>
    <button type="button" class="btn" [ngClass]="{'btn-primary': filter=='movie'}"(click)="setFilter('movie')">Peliculas</button>
    <button type="button" class="btn" [ngClass]="{'btn-primary': filter=='serie'}"(click)="setFilter('serie')">Series</button>
</div>

<div class="text">
    <p class="all">Todos</p>
    <p class="SubAll">(120)</p>
</div>

</div>

<div class="movies">
    <ng-container *ngFor="let movie of movies_series">
        <app-card *ngIf="filter=='todos' || filter == movie.category" [item]="movie"></app-card>
    </ng-container>
    
</div>
